.bold {
  font-weight: bold;
}

// Font sizes

.font {
  &-lg {
    font-size: 1.2rem;
  }

  &-xl {
    font-size: 1.4rem;
  }
}

.font-heading {
  font-size: 1.2rem;
}
.font-subheading {
  font-size: 1.1rem;
}

// Alignment

.text-align {
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}

.text {
  &-black {
    color: #000;
  }
}
