// Base colors

$primary: #007bff;
$danger: #dc3545;
$light-gray: #a9a9a9;
$very-light-gray: #e8e8e8;
$theme: #42b983;

// Hover colors

$primary-hover: #0062cc;
$danger-hover: #bd2130;
$theme-hover: #2e815b;
