nav {
  align-items: flex-end;
  background: #000;
  display: flex;
  padding: 30px;
  justify-content: space-between;

  & a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }

  & a:not(:last-of-type):not(.login-button) {
    border-right: 1px solid #fff;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
  }

  & a:hover {
    color: #42b983;
  }

  & a.router-link-exact-active {
    color: #42b983;
    text-decoration: underline;
  }
}
.welcome-message {
  color: #fff;
}
.logout {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  margin-left: 5px;
  padding: 5px;
}

.nav-right {
  display: flex;
  align-items: center;

  & svg {
    color: #fff;
    height: 20px;
    margin-right: 0.5rem;
  }
}
